

html {
	font-size: 16px;
	height: 100%;
	background-color: #ACB0BD;
}

body {
	min-height: 100%;
	margin: 0;


	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.row {
	height:  9rem;
	// border: 1px solid black;
	padding-top: 4px;
	padding-bottom: 4px;

	display: flex;
	justify-content: center;
}

.first_row {
	margin-top: 3rem;
}

.card_board_cont {
	height: 100%;
	width: 7rem;
	min-width: 7rem;
	margin-left: 6px;
	border-radius: 0.75rem;
	font-family: 'Passion One', cursive;
	background-color: white;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;	

	.middle {
		position: relative;
		font-size: 3.5rem;
	}

	.top, .bottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.penalty_icons {
		position: absolute;
		padding-top: 0.1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 5rem;
		flex-grow: 1;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2%;


		img {
			width: 1rem;
		}

		.wrap_helper_5_bulls {
			width: 0.5rem;
		}
	}

	div span {
		margin-left: 0.3rem;
		margin-right: 0.3rem;
	}

	.bottom span {
		transform: rotate(0.5turn);
	}

	&.empty {
		background : #D9DBF1; 
	}

	&.cn6 {
		background: #F06543;	

		justify-content: center;

		img {
			width: 5rem;
		}
	}
}

.hand {
	position:fixed;
	display: flex;
	justify-content: center;
	bottom: -3rem;
	height: 9rem;
	width: 100%;
}
